<div class="container-fluid">
  <div class="row justify-content-center">
    <h2>Follow Members</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <% if @members.exists? && !all_members_are_withdrew?(@members) %>
      <%= render 'index',members: @members %>
    <% end %>
  </div>
</div>