<div class="container homes_top">
  <div class="row">
    <div class="col">
      <div class="text-center top_image">
        <%= image_tag 'GeorgiaO’Keeffe_1.jpg', width: '100%', height: 'auto' %>
      </div>
      <div class="text-center mt-5">
        <%= image_tag 'homes_top_about_image.png', width: '135px', height: 'auto' %><br>
        <p>ARBOは美術館と展示会愛好家のためのコミュニティプラットフォームです。<br>
        美術館巡りや展示会の感想を簡単に記録し、他のユーザーと共有できます。</p>
        <p></p>
        <p>美術館巡りをより楽しみ、美術愛好家とのつながりを築きましょう。</p>
      </div>
    </div>
  </div>
</div>