<div class="row justify-content-center">
  <div>
    <i class="fa-solid fa-building-columns btn-sm" aria-hidden="true"></i>
    <%= link_to review.exhibition.museum.name, admin_museum_path(review.exhibition.museum) %>
  </div>
  <div>
    <i class="fa-solid fa-shoe-prints pt-1 btn-sm" aria-hidden="true"></i>
    <%= link_to review.exhibition.name, admin_exhibition_path(review.exhibition) %>
  </div>
</div>