  <div class="row justify-content-center">
    <% if review.tags.any? %>
      <% review.tags.each do |tag| %>
        <div class="btn pt-3">
          <i class="fa-solid fa-tag " aria-hidden="true"></i>
          <%= tag.name %>
        </div>
      <% end %>
    <% end %>
  </div>