<div class="card m-3">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <p>いいねを受けた回数</p>
        <%= total_favorited_count %>
      </div>
      <div class="col-6">
        <p>コメントを受けた回数</p>
        <%= total_commented_count %>
      </div>
    </div>
  </div>
</div>

<div class="card m-3">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <p>訪れた美術館</p>
        <%= total_visited_museum %>
      </div>
      <div class="col-6">
        <p>訪れた展示会</p>
        <%= total_visited_exhibition %>
      </div>
    </div>
  </div>
</div>