<div class="card m-3">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <p>いいねを受けた回数</p>
        <%= total_favorited_count %>
      </div>
      <div class="col-6">
        <p>コメントを受けた回数</p>
        <%= calculate_total_commented_count %>
      </div>
    </div>
  </div>
</div>