<% member_name = current_member.member_name %>

<div class="container-fluid h-100per">
  <div class="row member-show">
    <div class="col text-center">
      <h5>メンバー情報</h5>
      <div class="mb-1">
        <% if @member == current_member %>
          <%= image_tag @member.get_member_image(250, 250) %>
        <% else %>
          <%= render 'public/relationships/btn', member: @member %>
        <% end %>
      </div>
      <div>
        <%= @member.member_name %>
        <%= link_to member_information_edit_path(member_member_name: member_name), class: "btn btn-sm" do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>