<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h5 class="m-5">ここは管理者トップページです</h5>
        <%= image_tag 'GeorgiaO’Keeffe.jpg', width: '45%', height: 'auto' %>
    </div>
  </div>
</div>