<div class="container-fluid">
  <div class="row justify-content-center my-5">
    <h3>BOOKMARK EXHIBITIONS</h3>
    <%= render 'public/exhibitions/index', exhibitions: @bookmark_exhibitions %>
  </div>
</div>