<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="text-center text-nowrap">
      <h3>REVIEW COMMENT</h3>
    </div>
  </div>
  <div id='review_comments'>
    <% if review_comments.present? %>
      <%= render "admin/review_comments/index", review_comments: review_comments %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate review_comments %>
  </div>
</div>