<div class="container-fluid">
  <div class="row justify-content-center m-5">
    <div class="text-center">
      <%= image_tag 'review_comment_logo.png', width: '450px', height: 'auto', class: "img-fluid" %>
    </div>
  </div>
  <div id='review_comments'>
    <% if review_comments.present? %>
      <%= render "admin/review_comments/index", review_comments: review_comments %>
    <% end %>
  </div>
</div>