<div class="container-fluid">
  <p class="text-center"><%= flash[:notice] %></p>
  <div class="row justify-content-center m-5">
    <div class="text-center">
      <%= image_tag 'review_comment_logo.png', width: '450px', height: 'auto', class: "img-fluid" %>
      <% if @review_comments.present? %>
        <%= render "public/review_comments/index", review_comments: @review_comments %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render 'public/review_comments/form', review: @review, review_comment: @review_comment %>
    </div>
  </div>
  <div class="border mt-5"></div>
</div>


