<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col">
      <div class="text-center">
        <%= link_to root_path do %>
          <%= image_tag 'header_logo.png', width: '6%', height: '6%' %>
        <% end %>
      </div>
      <div class="1">
        1
      </div>
    </div>
  </div>
</div>
